In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import aqi as aqi

In [2]:
df_2019 = pd.read_csv('/Users/nkichili/Desktop/Synopsys/waqi-covid19-airqualitydata-2019Q1.csv')
df_2019_USA = df_2019.loc[df_2019['Country'] == 'US']
cols = ['Date','Country','City','Specie','median']
df_2019_USA_5 = df_2019_USA[cols]
df_2019_USA_PV = df_2019_USA_5.pivot(index=['Date','Country','City'], columns='Specie', values='median').reset_index()
df_2019_USA_POLLUTANT = df_2019_USA_PV[['Date','Country','City', 'co', 'no2', 'o3', 'pm10', 'pm25', 'so2']]

#df_city = df_2019_USA_POLLUTANT[df_2019_USA_POLLUTANT['City'] == 'Albuquerque']
df_2019_USA_POLLUTANT.shape

(5169, 9)

In [3]:
df_2019_USA_POLLUTANT.head()

Specie        Date Country         City   co   no2    o3  pm10  pm25  so2
0       2018-12-31      US  Albuquerque  3.0  16.7  16.8  21.0  40.0  1.5
1       2018-12-31      US      Atlanta  1.8   2.8  15.2  12.0  27.0  NaN
2       2018-12-31      US       Austin  NaN   NaN   4.0   NaN  21.0  NaN
3       2018-12-31      US    Baltimore  NaN  13.0  12.8  21.0  50.0  NaN
4       2018-12-31      US        Boise  4.5   NaN  24.9   7.0   9.0  0.8

In [4]:
df_2019_USA_POLLUTANT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169 entries, 0 to 5168
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5169 non-null   object
 1   Country  5169 non-null   object
 2   City     5169 non-null   object
 3   co       3489 non-null   float64
 4   no2      3389 non-null   float64
 5   o3       4807 non-null   float64
 6   pm10     2266 non-null   float64
 7   pm25     5107 non-null   float64
 8   so2      1890 non-null   float64
dtypes: float64(6), object(3)
memory usage: 363.6+ KB

In [5]:
df_city_county = pd.read_csv('/Users/nkichili/Desktop/Synopsys/uscities_county.csv')
df_city_county = df_city_county.rename(columns={"city": "City"})

In [14]:
df_city_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28338 entries, 0 to 28337
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         28338 non-null  object
 1   county_name  28338 non-null  object
dtypes: object(2)
memory usage: 442.9+ KB

In [6]:
df_city_county.head()

          City  county_name
0     New York     New York
1  Los Angeles  Los Angeles
2      Chicago         Cook
3        Miami   Miami-Dade
4       Dallas       Dallas

In [7]:
#df_2019_USA_POLLUTANT.set_index('City')
#df_city_county.set_index('City')
# Merge AQI and Covid data on Date and County
df_merged = pd.merge(df_2019_USA_POLLUTANT, df_city_county, how='left', on=['City'])

#df_merged = df_2019_USA_POLLUTANT.merge(df_city_county, on=['City'], how='inner')
df_merged.head(200)

,Date,Country,City,co,no2,o3,pm10,pm25,so2,county_name
0,2018-12-31,US,Albuquerque,3.0,16.7,16.8,21.0,40.0,1.5,Bernalillo
1,2018-12-31,US,Atlanta,1.8,2.8,15.2,12.0,27.0,NaN,Fulton
2,2018-12-31,US,Atlanta,1.8,2.8,15.2,12.0,27.0,NaN,Cass
3,2018-12-31,US,Atlanta,1.8,2.8,15.2,12.0,27.0,NaN,Logan
4,2018-12-31,US,Atlanta,1.8,2.8,15.2,12.0,27.0,NaN,Hamilton
...,...,...,...,...,...,...,...,...,...,...
195,2018-12-31,US,Nashville,NaN,NaN,0.8,NaN,20.0,NaN,Kingman
196,2018-12-31,US,Oakland,2.6,3.8,25.6,NaN,13.0,1.5,Alameda
197,2018-12-31,US,Oakland,2.6,3.8,25.6,NaN,13.0,1.5,Bergen
198,2018-12-31,US,Oakland,2.6,3.8,25.6,NaN,13.0,1.5,Fayette
199,2018-12-31,US,Oakland,2.6,3.8,25.6,NaN,13.0,1.5,Orange

In [17]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28943 entries, 0 to 28942
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         28943 non-null  object
 1   Country      28943 non-null  object
 2   City         28943 non-null  object
 3   co           15913 non-null  float64
 4   no2          15662 non-null  float64
 5   o3           23177 non-null  float64
 6   pm10         9533 non-null   float64
 7   pm25         28570 non-null  float64
 8   so2          10482 non-null  float64
 9   county_name  28670 non-null  object
dtypes: float64(6), object(4)
memory usage: 2.4+ MB

In [89]:
# Merge AQI and Covid data on Date and County
df_merged_right = (pd.merge(df_2019_USA_POLLUTANT, df_city_county, on=['City'], how='left', indicator=True)
.query('_merge == "right_only"')
.drop('_merge', 1))

#df_merged = df_2019_USA_POLLUTANT.join(df_city_dedup, on=['City'], how='left')
df_merged_right.head(20)

/var/folders/dr/dd4yfyn51lxdhh0dqg_f3dvh0000gq/T/ipykernel_7446/724232750.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df_merged_right = (pd.merge(df_2019_USA_POLLUTANT, df_city_county, on=['City'], how='left', indicator=True)

Empty DataFrame
Columns: [Date, Country, City, co, no2, o3, pm10, pm25, so2, county]
Index: []

In [84]:
df_merged_right.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     0 non-null      object
 1   Country  0 non-null      object
 2   City     0 non-null      object
 3   co       0 non-null      float64
 4   no2      0 non-null      float64
 5   o3       0 non-null      float64
 6   pm10     0 non-null      float64
 7   pm25     0 non-null      float64
 8   so2      0 non-null      float64
 9   county   0 non-null      object
dtypes: float64(6), object(4)
memory usage: 0.0+ bytes

In [68]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36499 entries, 0 to 36498
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     36499 non-null  object
 1   Country  36499 non-null  object
 2   City     36499 non-null  object
 3   co       20570 non-null  float64
 4   no2      20256 non-null  float64
 5   o3       29951 non-null  float64
 6   pm10     12527 non-null  float64
 7   pm25     36109 non-null  float64
 8   so2      13270 non-null  float64
 9   county   35779 non-null  object
dtypes: float64(6), object(4)
memory usage: 3.1+ MB

In [57]:
df_merged_dedup = df_merged.drop_duplicates()

In [58]:
df_merged_dedup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36772 entries, 0 to 332212
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     36772 non-null  object
 1   Country  36772 non-null  object
 2   City     36772 non-null  object
 3   co       20793 non-null  float64
 4   no2      20512 non-null  float64
 5   o3       30187 non-null  float64
 6   pm10     12527 non-null  float64
 7   pm25     36345 non-null  float64
 8   so2      13353 non-null  float64
 9   county   35779 non-null  object
dtypes: float64(6), object(4)
memory usage: 3.1+ MB

In [21]:
df_merged['county_name'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
28938    False
28939    False
28940     True
28941    False
28942     True
Name: county_name, Length: 28943, dtype: bool